body {
	background-color: linen;
}
h1{
	color: maroon;
	text-decoration-line: underline;
}
#para1{
text-align: center;
color: blue;
}
h2{
	color: gray;
	text-indent: 15px;
}
h3{
	color: salmon;
	text-indent: 35px;
}
h4{
	color: darkred;
	text-indent: 55px;
}